ci:
  # On CI, we run mypy via tox.
  # This makes pre-commit.ci ignore that.
  skip: mypy
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.6.0
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/psf/black
    rev: "21.7b0"
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.9.2" # pick a git hash / tag to point to
    hooks:
      - id: flake8
        additional_dependencies:
          [flake8-comprehensions, flake8-import-order, flake8-bugbear]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v0.910"
    hooks:
      - id: mypy
        additional_dependencies:
          - types-atomicwrites
          - types-tabulate
          - types-freezegun
          - types-pytz
          - types-python-dateutil
