ci:
  # On CI, we run mypy via tox.
  # This makes pre-commit.ci ignore that.
  skip: mypy
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.4.0
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/psf/black
    rev: "20.8b1"
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: "3.8.4" # pick a git hash / tag to point to
    hooks:
      - id: flake8
        additional_dependencies:
          [flake8-comprehensions, flake8-import-order, flake8-bugbear]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: tox -e mypy
        language: python
        pass_filenames: false
