language: python
cache: pip

python:
  - 3.4
  - 3.5
  - 3.6
  - 3.7-dev
  - pypy3.3-5.2-alpha1

addons:
  apt:
    packages:
      - language-pack-de

stages:
  - test
  - name: deploy
    if: tag IS present

install:
  - pip install pipenv
  - pipenv install --ignore-pipfile --dev

script:
  - py.test --cov todoman

after_script:
  - pip install codecov
  - codecov

jobs:
  include:
    # Note: envs are set to identify jobs in travis' UI. They have no impact.
    - env: ENV=flake8
      python: 3.6
      script: flake8
    - env: ENV=yapf
      python: 3.6
      script: yapf --recursive --diff -p todoman tests docs setup.py
    - env: ENV=docs
      python: 3.6
      script:
        # These two steps imitate RTD as best as possible.
        - pip install -rrequirements-docs.txt
        - make -C docs html
    - env: ENV=repl
      before_script:
        - pip install click_repl
    - env: ENV=pyicu
      before_script:
        - pip install pyicu
    - env: ENV=
      os: osx
      language: generic
      env: TOXENV=py
      before_install:
        - brew update
        - brew install python3
        - virtualenv env -p python3
        - source env/bin/activate

    - stage: deploy
      script:
        - pip install wheel twine
        - python setup.py sdist bdist_wheel
        - twine upload -u $PYPI_USERNAME -p $PYPI_PASSWORD dist/*
    - stage: deploy
      script:
        - pip install wheel
        - python setup.py sdist bdist_wheel
        - gem install dpl
        - dpl --api-key=$RELEASES_TOKEN --provider=releases --file=dist/* --file_glob=true
