[tool.ruff]
select = [
    "E",
    "F",
    "W",
    "B",
    "I",
    "UP",
    "N",
    # "ANN",
    # "A",
    "C4",
    "PT",
    "SIM",
    "TID",
]
target-version = "py38"

[tool.ruff.isort]
force-single-line = true

[build-system]
requires = ["setuptools>=45", "wheel", "setuptools_scm>=6.2"]

[tool.setuptools_scm]
write_to = "todoman/version.py"
version_scheme = "post-release"
