#!/usr/bin/make -f

# manually copy todoman/confspec.ini to build_dir/todoman/ (needed for tests)
export PYBUILD_BEFORE_BUILD=mkdir -p {build_dir}/todoman/ && cp {dir}/todoman/confspec.ini {build_dir}/todoman/
# manually remove files needed for tests
export PYBUILD_AFTER_TEST=rm {build_dir}/.coverage {build_dir}/todoman/confspec.ini

# exports needed to make the tests succeed (python3-click)
export TZ=UTC
export LANG=C.UTF-8
export LC_ALL=C.UTF-8

override_dh_auto_clean:

%:
	dh $@ --with python3 --buildsystem=pybuild
