name: Checks

on: [push, pull_request]

jobs:
  styles:
    runs-on: ubuntu-18.04
    name: Check linting
    steps:
      - name: Checkout repo
        uses: actions/checkout@master
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          architecture: x64
      - name: Install test dependencies
        run: pip install tox
      - name: Run flake8
        run: tox
        env:
          TOXENV: flake8
  docs:
    runs-on: ubuntu-18.04
    name: Build documentation
    steps:
      - name: Checkout repo
        uses: actions/checkout@master
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          architecture: x64
      - name: Install test dependencies
        run: pip install tox
      - name: Build docs
        run: tox
        env:
          TOXENV: docs
